.header{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 16px 0px;
}
.header-left {
    padding: 4px;
    border: 1px solid black;
    
}
.pageNumber{
    cursor: pointer;
    padding: 4px;
}
.Active{
    color: pink;
}